@page "/"
@namespace SportClubsChallenges.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sport Clubs Challenges</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Blazority/lib/clr/ui/clr-ui.min.css" />
    <link rel="stylesheet" href="_content/Blazority/lib/clr/icons/clr-icons.min.css" />
    <link rel="stylesheet" href="_content/Blazority/blazority.min.css" />
    <link rel="stylesheet" href="SportClubsChallenges.Web.styles.css" />
    <link rel="stylesheet" href="css/strava.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>

    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazority/lib/webcomponents/custom-elements/custom-elements.min.js"></script>
    <script src="_content/Blazority/lib/clr/icons/clr-icons.min.js"></script>
    <script src="_content/Blazority/blazority.min.js"></script>
    <script src="js/custom-icons.js"></script>
</body>
</html>
