@page "/clubs"

@inject IClubService clubService

@attribute [Authorize(Roles = "admin, superuser")]

<div>
    <a class="btn btn-primary" href='/addArticle'>Add</a>
</div>
<br />

@if (clubsModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort-th">
                    Id
                </th>
                <th class="sort-th">
                    Name
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (clubsModel == null || clubsModel.Count == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            else
            {
                foreach (var club in clubsModel)
                {
                    <tr>
                        <td>@club.Id</td>
                        <td>@club.Name</td>
                        <td>
                            <a class="btn btn-primary" href='/editArticle/@club.Id'>Edit</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}


@code {
    List<ClubDto> clubsModel;

    protected override async Task OnInitializedAsync()
    {
        clubsModel = await clubService.GetAllClubs();
    }
}
