@page "/"

<div>
    <AuthorizeView>
        <Authorized>
            <MyChallenges />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizedHandler />
        </NotAuthorized>
    </AuthorizeView>
</div>
