@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

<div>
    <AuthorizeView>
        <Authorized>
            <h2>Hello, @_userName!</h2>

            @if (_claims.Count() > 0)
            {
                <br />
                <h4>Your claims:</h4>
                <ul>
                    @foreach (var claim in _claims)
                    {
                        <li>@claim.Type: @claim.Value</li>
                    }
                </ul>
            }
        </Authorized>
        <Authorizing>
            <h2>Authentication in progress</h2>
        </Authorizing>
        <NotAuthorized>
            <h2>Please log in!</h2>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string _userName;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var user = httpContextAccessor.HttpContext.User;

        if (user.Identity.IsAuthenticated)
        {
            _claims = user.Claims;
            _userName = _claims.Take(2).Last().Value;
        }
    }
}
