@page "/"

<div>
    <AuthorizeView>
        <Authorized>
            <MyChallenges />
        </Authorized>
        <Authorizing>
            <h2>Authentication in progress</h2>
        </Authorizing>
        <NotAuthorized>
            <h2>Please log in!</h2>
        </NotAuthorized>
    </AuthorizeView>
</div>
