@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<section class="section" id="not-authorized-message">
    <div class="container">
        <div class="notification is-danger">
            <p>Sorry, there's nothing at this address.</p>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized()
    {
        // TODO: remove
        var user = httpContextAccessor.HttpContext.User;
        var returnUrl =  System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery);
    }
}