<div class="alerts-container">
    @foreach (var alert in alerts)
    {
        @RenderAlert(alert);
    }
</div>

@code {
    private List<Alert> alerts = new List<Alert>();

    public void AddAlert(string text, AlertType type = AlertType.Info)
    {
        alerts.Add(new Alert { Text = text, Type = type });
        StateHasChanged();
    }

    private RenderFragment RenderAlert(Alert alert) => builder =>
    {
        builder.OpenComponent(0, typeof(AlertMessage));
        builder.AddAttribute(1, nameof(AlertMessage.Text), alert.Text);
        builder.AddAttribute(2, nameof(AlertMessage.Type), alert.Type);
        builder.CloseComponent();
    };

    private class Alert
    {
        public string Text { get; set; }

        public AlertType Type { get; set; }
    }
}