@inherits LayoutComponentBase

<CascadingValue Value="this">

    <div class="main-container">
        <AppHeader />

        <AppMenu />

        <div class="content-container">
            <div class="content-area">
                <AlertWrapper @ref="alertWrapper" />
                <PopupWrapper @ref="popupWrapper" />
                <NotificationsPopup @ref="notificationsPopup" />
                @Body
            </div>
        </div>
    </div>

</CascadingValue>

@code {
    public AlertWrapper alertWrapper;
    public PopupWrapper popupWrapper;
    public NotificationsPopup notificationsPopup;
}