<header class="header header-6">
    <div class="branding">
        <a href="/">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Sport Clubs Challenges</span>
        </a>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="header-actions">
                <a href="/profile" class="nav-link nav-icon" style="padding-right: 0rem; width: 2rem;">
                    <clr-icon shape="user"></clr-icon>
                </a>
                <a href="/profile" class="nav-link" style="padding-left: 0rem;">
                    <span>@(context.User?.Identity?.Name)</span>
                </a>
                <a href="https://www.strava.com" class="nav-link poweredbystrava" />
                <a href="/logout" class="nav-link nav-icon">
                    <clr-icon shape="logout"></clr-icon>
                </a>
            </div>
        </Authorized>
    </AuthorizeView>
</header>