@inherits LayoutComponentBase

<body>
    <RadzenNotification />
    <NavMenu />

    <div class="container">
        @Body
    </div>
</body>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container">
        &copy; @(DateTime.Now.Year) - Sport Clubs Challenges
    </div>
</footer>