@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<RadzenNotification />
<RadzenTooltip />

<div class="container main-content">
    @Body
</div>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container">
        &copy; @(DateTime.Now.Year) - Sport Clubs Challenges
    </div>
</footer>