<AuthorizeView>
    <Authorized>
        <nav class="subnav">
            <ul class="nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/challenges/list">
                        Challenges
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/activities/list">
                        Activities
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin">
                        Admin
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile">
                        Profile
                    </NavLink>
                </li>
            </ul>
        </nav>
    </Authorized>
</AuthorizeView>
