@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager navigationManager

@implements IAsyncDisposable

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/notifications"))
            //.WithUrl("https://localhost:44357/notifications/")
            //.WithUrl("https://myfirstsignalrdemoservice.service.signalr.net/client/?hub=notifications")
            //.WithUrl("https://myfirstsignalrdemoservice.service.signalr.net/api/v1/hubs/notifications")
            //.WithUrl("https://signalrdemoapp.azurewebsites.net/notifications/")
            .Build();

        hubConnection.On<string, string>("Broadcast", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send() => await hubConnection.SendAsync("Broadcast", userInput, messageInput);

    private bool IsConnected => hubConnection is not null && hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}