@page "/clubs/admin"

@using Microsoft.AspNetCore.Http

@inject IClubService clubService
@inject NavigationManager navigationManager
@inject IHttpContextAccessor httpContextAccessor

@attribute [Authorize(Roles = "Admin")]

@if (clubs == null)
{
    <Loading />
}
else
{
    <Datagrid TRowData="ClubDto" Items="clubs" Placeholder="We couldn't find any clubs!" Fixed="FixedMode.All" style="max-height: 100%">
        <DatagridColumn TRowData="ClubDto" Title="Id" Field="c => c.Id" CanSort="true" CanFilter="true" />
        <DatagridColumn TRowData="ClubDto" Title="Name" Field="c => c.Name" CanSort="true" CanFilter="true">
            <StravaIconLink Name="@context.Name" Url="@StravaHelper.GetClubUrl(context.Url)" />
        </DatagridColumn>
        <DatagridColumn TRowData="ClubDto" Title="SportType" Field="c => c.SportType" CanSort="true" CanFilter="true" />
        <DatagridColumn TRowData="ClubDto" Title="Owner" Field="c => c.Owner" CanSort="true" CanFilter="true" />
        <DatagridColumn TRowData="ClubDto" Title="Members in Strava" Field="c => c.MembersCount" CanSort="true" CanFilter="true" />
        <DatagridColumn TRowData="ClubDto" Title="Actions">
            <ButtonGroup Variant="Primary">
                <Button Variant="Success" OnClick="() => ShowDetails(context.Id)">Details</Button>
                <Button OnClick="() => EditClub(context.Id)">Edit</Button>
            </ButtonGroup>
        </DatagridColumn>
        <DatagridFooter TRowData="ClubDto">
            <DatagridFooterDescription TRowData="ClubDto">@clubs.Count club(s)</DatagridFooterDescription>
        </DatagridFooter>
    </Datagrid>
}

@code {
    private List<ClubDto> clubs;

    protected override async Task OnInitializedAsync()
    {
        if (httpContextAccessor.HttpContext.Response.HasStarted)
        {
            clubs = await clubService.GetAllClubs();
        }
    }

    private void EditClub(long clubId)
    {
        navigationManager.NavigateTo($"/clubs/edit/{clubId}");
    }

    private void ShowDetails(long clubId)
    {
        navigationManager.NavigateTo($"/clubs/details/{clubId}");
    }
}
