@using SportClubsChallenges.Utils.Enums;

<span>
    <clr-icon shape="@Icon"></clr-icon>
    <span>@CompetitionTypeDescription</span>
</span>

@code {
    [Parameter]
    public byte Type { get; set; }

    private string Icon { get; set; }

    private string CompetitionTypeDescription { get; set; }

    protected override void OnInitialized()
    {
        var competitionTypeEnumValue = (ChallengeCompetitionTypeEnum) this.Type;
        this.CompetitionTypeDescription = competitionTypeEnumValue.ToString();

        switch (competitionTypeEnumValue)
        {
            case ChallengeCompetitionTypeEnum.Distance:
                this.Icon = "route";
                break;
            case ChallengeCompetitionTypeEnum.Time:
                this.Icon = "timer";
                break;
            case ChallengeCompetitionTypeEnum.Elevation:
                this.Icon = "elevation";
                break;
        };
    }
}
