<div>
    <a href="@Url" target="_blank">
        <img src="/images/strava_icon.svg" class="strava-link-icon">
    </a> @Name
</div>

@code {
    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string Name { get; set; }
}