
div.panel-centered {
    display: flex;
    padding-top: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.horizontal-centered-tabs > clr-tabs > ul {
    justify-content: center;
}