div.panel-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div.panel-centered-with-top-padding {
    display: flex;
    padding-top: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.card-centered-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}

div.horizontal-centered-tabs > clr-tabs > ul {
    justify-content: center;
}

/* force proper checkbox spacing in compact datagrid inside editform */
.clr-form-compact .clr-checkbox-wrapper .clr-control-label {
    margin-top: 0 !important;
}

.card:first-child {
    margin-top: 0 !important;
}

.datagrid-wrapper[blazority] {
    margin-top: 0 !important;
}

div.card-media-title h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

.clr-timeline.clr-timeline-vertical .clr-timeline-step-header {
    width: 4rem;
    min-width: 4rem;
}

.clr-timeline-step-header-description {
    font-size: .55rem;
}

.font-bold {
    font-weight: 600;
}

.font-italic {
    font-style: italic;
}

.font-line-through {
    text-decoration: line-through;
}

.float-right {
    float: right;
}

.alerts-container > clr-alert:first-child > .alert {
    margin-top: 0rem;
}

.alerts-container > clr-alert:last-child > .alert {
    margin-bottom: .3rem;
}

clr-icon.small-icon {
    height: 0.6rem;
    width: 0.6rem;
    min-height: 0.6rem;
    min-width: 0.6rem;
}