
div.panel-centered {
    display: flex;
    padding-top: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.horizontal-centered-tabs > clr-tabs > ul {
    justify-content: center;
}

/* force proper checkbox spacing in compact datagrid inside editform */
.clr-form-compact .clr-checkbox-wrapper .clr-control-label {
    margin-top: 0 !important;
}

.card:first-child {
    margin-top: 0 !important;
}

.datagrid-wrapper[blazority] {
    margin-top: 0 !important;
}