.strava-poweredby {
    background-image: url('/images/api_logo_pwrdBy_strava_stack_light.png');
    background-position: 0px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 90px;
    background-size: 90px;
    opacity: 0.9 !important;
}

.strava-login-image {
    background-image: url('/images/btn_strava_connectwith_light.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 193px;
    height: 48px !important;
    background-size: 193px;
    margin: 0px -10px 0px 0px;
    text-indent: -10000px;
    padding: 0px !important;
    display: inline-block !important;
}

.strava-user-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}