.strava-poweredby {
    background-image: url('/images/api_logo_pwrdBy_strava_stack_light.png');
    background-position: 0 0.5rem;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 4.5rem;
    background-size: 4.5rem;
    opacity: 0.9 !important;
}

.strava-login-image {
    background-image: url('/images/btn_strava_connectwith_light.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 9.8rem;
    height: 2.4rem !important;
    background-size: 9.8rem;
    margin: 0 -0.5rem 0 0;
    text-indent: -100rem;
    padding: 0 !important;
    display: inline-block !important;
}

.strava-user-icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.strava-link-icon {
    height: 0.7rem;
}