.poweredbywrapper {
    vertical-align: bottom;
    margin-bottom: 2px;
    margin-left: 5px;
    color: #999999;
}

.poweredbystrava {
    background-image: url('/images/api_logo_pwrdBy_strava_stack_light.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 90px;
    height: 34px !important;
    background-size: 90px;
    margin: 0px -10px 0px 0px;
    text-indent: -10000px;
    padding: 0px !important;
    display: inline-block !important;
}

.logstrava {
    background-image: url('/images/btn_strava_connectwith_light.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 193px;
    height: 48px !important;
    background-size: 193px;
    margin: 0px -10px 0px 0px;
    text-indent: -10000px;
    padding: 0px !important;
    display: inline-block !important;
}