@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

@if (showNotAuthorizedMessage)
{
    <section class="section" id="not-authorized-message">
        <div class="container">
            <div class="notification is-danger">
                <p>You're not authorized to reach this page.</p>
                <p>You may need to log in as a different user or contact with site administrator.</p>
            </div>
        </div>
    </section>
}

@code {

    private bool showNotAuthorizedMessage = false;

    protected override void OnInitialized()
    {
        var user = httpContextAccessor.HttpContext.User;

        if (user.Identity.IsAuthenticated)
        {
            // If the user is signed in, but authorization failed, display a message
            showNotAuthorizedMessage = true;
        }
    }
}