@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<div class="panel-centered-with-top-padding">
    @if (isLoginRiderectAction)
    {
        <Loading />
        <p>Authentication in progress, please wait...</p>
    }
    else
    {
        <p>Sorry, there's nothing at this address.</p>
    }
</div>

@code {

    private bool isLoginRiderectAction { get; set; }

    protected override void OnInitialized()
    {
        var currentPath = new Uri(navigationManager.Uri).PathAndQuery;
        this.isLoginRiderectAction = !string.IsNullOrEmpty(currentPath) && currentPath.StartsWith("/login");
    }
}