@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<section class="section" id="not-authorized-message">
    <div class="container">
        <div class="notification">
            <p>@message</p>
        </div>
    </div>
</section>

@code {

    private string message = string.Empty;

    protected override void OnInitialized()
    {
        var currentPath = new Uri(navigationManager.Uri).PathAndQuery;
        if (!string.IsNullOrEmpty(currentPath) && currentPath.StartsWith("/login"))
        {
            message = "Authentication in progress, please wait...";
        }
        else
        {
            message = "Sorry, there's nothing at this address.";
        }
    }
}