@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<div class="panel-centered">
    <p>@message</p>
</div>

@code {

    private string message = string.Empty;

    protected override void OnInitialized()
    {
        var currentPath = new Uri(navigationManager.Uri).PathAndQuery;
        if (!string.IsNullOrEmpty(currentPath) && currentPath.StartsWith("/login"))
        {
            message = "Authentication in progress, please wait...";
        }
        else
        {
            message = "Sorry, there's nothing at this address.";
        }
    }
}