@page "/signout"

<AuthorizeView>
    <NotAuthorized>
        <div class="panel-centered">
            <p>You are logout!</p>
            <br/>
            <p>You may log in again using <a href="/login">this link</a></p>
        </div>
    </NotAuthorized>
</AuthorizeView>