@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject IAthleteService athleteService
@inject IIdentityService identityService
@inject IHttpContextAccessor httpContextAccessor

@attribute [Authorize]

<Card>
    <CardBody>
        <CardBlock>
            <div class="card-centered-title">
                <CardText><h5>Last 7 days stats</h5></CardText>
            </div>
            <CardText>Activities count: @weekStats.Count</CardText>
            <CardText>Total distance: @UnitHelper.GetDistanceDescription(weekStats.Distance)</CardText>
            <CardText>Total time: @UnitHelper.GetTimeDescription(weekStats.Duration)</CardText>
            <CardText>Total elevation: @UnitHelper.GetDistanceDescription(weekStats.Elevation)</CardText>
        </CardBlock>
    </CardBody>
</Card>

@code {
    PeriodStatsDto weekStats;

    protected override void OnInitialized()
    {
        var user = httpContextAccessor.HttpContext.User;
        var athleteId = identityService.GetAthleteIdFromIdentity(user.Identity as ClaimsIdentity);

        weekStats = athleteService.GetAthleteActivitiesLastSevenDaysStats(athleteId);
    }
}