@page "/challenges/admin"

@inject IChallengeService challengeService

@attribute [Authorize(Roles = "Admin")]

<div>
    <a class="btn btn-primary" href='/challenges/add'>Add new challenge</a>
</div>
<br />

@if (challengesModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort-th">
                    Id
                </th>
                <th class="sort-th">
                    Name
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (challengesModel == null || challengesModel.Count == 0)
            {
                <tr>
                    <td colspan="3">
                        No Records to display
                    </td>
                </tr>
            }
            else
            {
                foreach (var challenge in challengesModel)
                {
                    <tr>
                        <td>@challenge.Id</td>
                        <td>@challenge.Name</td>
                        <td>
                            <a class="btn btn-primary" href='/challenges/edit/@challenge.Id'>Edit</a>  |
                            <a class="btn btn-danger" @onclick="() => DeleteChallenge(challenge.Id)">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}

@code {

    List<ChallengeOverviewDto> challengesModel;

    protected override async Task OnInitializedAsync()
    {
        await LoadChallenges();
    }

    protected async Task DeleteChallenge(long id)
    {
        await challengeService.DeleteChallenge(id);
        await LoadChallenges();
    }

    private async Task LoadChallenges()
    {
        challengesModel = await challengeService.GetAllChallenges();
    }
}
